<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Prueba</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">adelante</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">atras</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row">
    <div class="col-md-8 mt-4">
        <ul class="list-group">
            <li 
                *ngFor="let empleado of empleadoarray"
                class="list-group-item list-group-item-action"
                (click)="AbrirEditar(empleado)"
                [class.active]="empleado == SelectedEmpleado"
                >
                <span class="badge text-bg-primary">{{empleado.id}}</span> {{empleado.nombre}}
            </li>
        </ul>
        <div class="card mt-4">
          <div class="card-body">
            <div class="card-tittle">
                insertar nuevo empleado
            </div>
            <div class="mb-3">
              <input type="text"[(ngModel)]="SelectedEmpleado.nombre" placeholder="Insertar nombre" class="form-control">
            </div>
            <button (click)="agregaroModificar()" class="btn btn-primary">
              Enviar
            </button>
            <button 
            *ngIf="SelectedEmpleado.id !== 0"
            class="btn btn-danger"
            (click)="eliminar()"
            >
              Eliminar
            </button>
          </div>
        </div>
      </div>
        <div class="col-md-4 mt-4">
          <img width="300" src="./../assets/descarga.jfif" alt="Angular Logo">
        </div>
      </div>
  </div>
<router-outlet></router-outlet>
